<%= render "dashboards/navbar" %>
<div class="p-5 text-white pseudo-jumbotron-withbg">
    <h1>501 Not Implemented</h1>
    <p>Usually, admins sign up on their own accord. This saves me from having to implement this</p>
</div>