<%= render "admins/sessions/guestnavbar" %>
    <div class=" p-5 text-white pseudo-jumbotron-withbg">
      <h1>Welcome to AdminCentre</h1>
      <p>Log in with Google to continue.</p>
      <%= link_to "Sign in with Google", admin_google_oauth2_omniauth_authorize_path, class: "btn btn-primary" %>
    </div>
    