<%= render "dashboards/navbar" %>
    <div class=" p-5 text-white pseudo-jumbotron-withbg">
      <h1>Hope you're having a fine evening, <%= current_admin.full_name.split.first %></h1>
      <p>Welcome to AdminCentre. As you can tell its very WIP so dont expect much to work.</p>
    </div>